html {
  overflow-y: scroll;
 }
 body {
  font-family: "Allerta", sans-serif;
  margin: 0;
}
.document{
max-width: 800px;
margin: auto;
position: relative;
}
/*header*/
.background{
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  position: relative;
}
.menu{
  font-size: 21px;
  display: inline-block;
  position: absolute;
  right: 0;
}
.menu ul{
  margin-bottom: 10px;
  margin-top: 50px;
}
.menu li {
  display: inline-block;
  margin-left: 30px;
}
.menu li::before{
  content:'∘';
  line-height: 0;
  font-size:20px;
  color: white;
}
.menu a{
  color: white;
  text-decoration: none;
}
.menu a:hover{
  color: #ed1c24;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.hover{
  display: inline-block;
  margin:10px 0 10px 0;
  width: 100px;
  height: 100px;
}
.logotipo {
  margin: 0;
  cursor: pointer;
 border-radius: 50px;
 background: none;
 /*overflow: hidden;*/
}
.hover figure img {
  -webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}
.hover figure:hover img {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.portada {
  height: 480px;
  padding: 0 30px 0 30px;
}
.titulo{
  margin-bottom: 0;
}
.subtitulo{
  margin-top: 0;
  margin-bottom: 15px;
}
.button{
  display: inline-block;
  border-radius: 21px;
  background: #ed1c24;
  color:white;
  text-decoration: none;
  padding: 10px 12px;
  cursor: pointer;
  border: none;
}
.button1{
  background: #ed1c24;
  color:white;
}
.button1:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: white;
  color: #ed1c24;
}
/*contenido*/
.cabecera_contenido{
  text-align: center;
  margin: 20px 0;
}
.cabecera_contenido img{
  opacity: .8;
}
.titulo_contenido{
  margin: 0;
}
.subtitulo_contenido{
  color: #756e5b;
  font-size: 12px;
  margin: 0;
}
.contenido{
  color: #494539;
}
.guitarras{
  height: 180px;
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #494539;
  border-radius: 16px;
}
.guitarras.segunda{
  margin-bottom: 60px;
}
.guitarra_a{
float: right;
position: relative;
top:-40px;
}
.guitarra_b{
float: left;
position: relative;
top:-40px;
}
.guitarra_a:hover, .guitarra_b:hover{
  transition: 0.4s;
  transform: rotate(-5deg) scale(1.05);
}
.cont_guitarra_a{
padding-left: 30px;
}
.gb{
  width: 50%;
  float: left;
}
.cont_guitarra_b{
  width: 50%;
  float: right;
  margin-right: -85px;
}
.guitarras ol{
  padding: 0;
  margin-top: 10px;
}
.titulo{
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.subtitulo{
  font-size: 24px;
  color: white;
}
.titulo_contenido h2{
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
}
.titulo_g {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*footer*/
.footer{
  background-color: #756e5b;
}
.footer .document{
  display: flex;
  justify-content: space-between;
}
.contacto{
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0px;
}
.contacto img{
display: block;
margin: 0 20px 0 20px;
}
.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 0 10px 10px;
}
.contacto strong{
  display: block;
}
.formulario{
  display: flex;
  width: 430px;
  color: white;
  padding: 40px 10px;
}
.columna1, .columna2{
  display: flex;
  flex-direction: column;
  height: 180px;
}
.columna1{
  margin-right: 15px;
}
.columna2 {
  align-items: flex-start;
}
.columna2 textarea{
  margin-bottom: 10px;
}
.intereses label {
  font-size: 12px;
}
.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
  border: none;
}
.sexo {
  margin-top: 10px;
}
.columna2 input
  {
font-weight: bold;
}
input, textarea{
  border-radius: 8px;
  border: none;
}
input {
  padding: 5px;
}
input, textarea{
  outline: none;
}
input:focus, textarea:focus{
  box-shadow: 0 0 5px red;
}
/*tabla*/
table{
  width: 100%
}
th{
  background:#ed1c24;
  color: white;
  padding: 10px 20px;
  text-align: left;
  }
td{
  padding: 20px;
}
table, td, th{
  border: 1px solid #ed1c24;
  border-collapse: collapse;
}
table{
  margin: 50px 0;
}
/*responsive*/

@media screen and (max-width: 800px) {
  .portada{
    height: auto;
  }
  .titulo{
    font-size: 55px;
    margin-top: 30px;
  }
  .subtitulo{
    font-size: 18px;
  }
  .portada .button{
    margin-bottom: 30px;
  }
  .guitarras{
    text-align: center;
    height: auto;
  }
  .guitarras li{
    list-style: none;
  }
  .guitarras li::before{
    content:'∘ ';
    line-height: 0;
    font-size:20px;
    color: #494539;
  }
  .guitarra_a{
    float: none;
    position: static;
    top:0;
  }
    .guitarra_b{
      float: none;
      position: static;
      top: 0;
  }
  .cont_guitarra_a{
    margin: 0;
    padding-left: 0;
  }
  .gb{
    position: static;
    float: none;
    margin: auto;
  }
  .cont_guitarra_b{
    width: 100%;
    float: none;
    margin: auto;
  }
}
@media screen and (max-width: 704px){
  .footer .document {
    display: block;
}
  .contacto {
    padding-top: 40px;
        padding-bottom: 0;
    width: 255px;
    margin: auto;
}
  .formulario{
    width: 520px;
    padding: 30px 10px 50px 10px;
    margin: auto;
}
  .columna2 input{
    font-size: 16px;
    padding: 12px 20px;
}
}

@media screen and (max-width: 650px){
.header{
    text-align: center;
}
.menu{
  position: static;
  display: block;
}
.menu li:first-child{
  margin: 0;
}
.menu ul{
  padding-left: 0;
  margin-top: 10px;
}
.titulo{
  font-size: 45px;
}
.subtitulo{
  font-size:16px;
}
.titulo_g{
  font-size: 45px;
}
.guitarras ol{
  font-size: 14px;
}
.guitarras img{
  width: 250px;
}
}
@media screen and (max-width: 559px){
  .formulario{
    display: block;
    width: 300px;
  }
  .columna1, .columna2{
    height: auto;
  }.columna1{
    margin-right: 0;
  }
  .columna2 textarea{
    width: 100%;
    font-size: 18px;
  }
  input#nombre{
    margin-bottom: 10px;
    }
  .intereses label{
    display: block;
    font-size: 16px;
  }
  .columna1 input{
    font-size: 18px;
  }
  .intereses{
    margin-top: 10px;
    border-top: 1px solid white;
    border-bottom: 2px solid white;
  }
  input[type="radio"],
  input[type="checkbox"]{
    zoom: 1.5;
  }
  .columna2 input{
    padding-right: 125px;
    padding-left: 130px;
  }
}
@media screen and (max-width: 525px){
  .menu li{
    font-size: 28px;
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
    .menu li:before{
      display: none;
    }
  .titulo{
    font-size: 40px;
  }
  .button{
    font-size: 18px;
    padding: 14px 14px;
  }
}
@media screen and (max-width: 479px){
.portada{
  text-align: center;
}
}
